// Primary colors
// -------------------------
$SkyBlue:               #87CEEB          !default;
$LemonChiffon:          #FFFACD          !default;
$MediumSeaGreen:        #3CB371          !default;
$whitesmoke:            #F5F5F5          !default;
$MediumOrchid:          #ba55d3          !default;
$white:                 #FFFFFF          !default;


//Color palette
//-----------------------
$color1: $SkyBlue;
$color2: $LemonChiffon;
$color3: $MediumSeaGreen;
$color4: $whitesmoke;
$color5: $MediumOrchid;
$color6: $white;


// Derivative colors
// -------------------------
$darker-color5:           darken($color5, 6.6667%) !default;
$darker-color6:           darken($color6, 40%) !default;


//Font information
//-----------------------
$header-font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !default;
$header-font-size: 1.25 em !default;


//Responsive
//-----------------------------
$large-screen-min-width: 30em !default;
//dpi check
$retina-min-dpi: 192dpi !default;

