
// Primary colors
// -------------------------
$SkyBlue:               #87CEEB          !default;
$LemonChiffon:          rgb(255,250,205) !default;
$MediumSeaGreen:        rgb(60,179,113)  !default;
$whitesmoke:            rgb(245,245,245) !default;
$MediumOrchid:          #ba55d3          !default;
$white:                 rgb(0,0,0)       !default;
$gray:                  rgb(128,128,128) !default;


// Derivative colors
// -------------------------
$darker-MediumOrchid:           darken($MediumOrchid, 6.6667%) !default;

//Color palette
//-----------------------
$color1: $SkyBlue;
$color2: $LemonChiffon;
$color3: $MediumSeaGreen;
$color4: $whitesmoke;
$color5: $MediumOrchid;
$darker-color5: $darker-MediumOrchid;
$color6: $white;
$color7: $gray;


//Font information
//-----------------------
$header-font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !default;
$header-font-size: 1.25 em !default;

//Responsive
//-----------------------------
$large-screen-min-width: 30 em !default;
//dpi check
$retina-min-dpi: 192dpi !default;

