/* line 1, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.headline-subhead {
  text-align: center;
  padding-bottom: 1.5em;
  text-transform: uppercase;
  font-size: 1.25em;
  color: gray; }

/* nav */
/* line 11, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.main-nav__item a {
  text-align: center;
  padding: 0.2em;
  color: white;
  font-size: 1.5em;
  border-radius: 0.3em; }
  /* line 17, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
  .main-nav__item a:hover {
    background-color: MediumOrchid; }

/* hero */
/* line 23, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.hero {
  color: white;
  text-align: center;
  padding: 5% 0;
  margin-bottom: 4.5em; }

/* line 29, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.hero__title {
  font-size: 5em; }

/* line 32, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.hero__text {
  font-size: 1em;
  line-height: 1.5em;
  max-width: 38em;
  margin: auto; }

/* feature */
/* line 40, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.feature {
  text-align: center;
  display: block;
  padding-bottom: 4.5em; }

/* line 45, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.feature__box {
  padding: 3%;
  color: white;
  display: inline-block;
  font-size: 1em; }
  /* line 50, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
  .feature__box h1 {
    font-size: 1.3em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    color: MediumOrchid; }
  /* line 55, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
  .feature__box h2 {
    margin: 0.4em auto; }

/* form section */
/* line 61, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.field-with-button {
  text-align: center;
  display: block;
  cursor: pointer; }

/* line 66, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.input-field {
  margin-top: 1.25em;
  font-size: 1.25em;
  padding: 0.125em; }

/* line 71, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.search-button {
  font-size: 1em; }

/* profile section */
/* line 77, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.profile {
  color: gray;
  padding-bottom: 1.5em; }
  /* line 80, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
  .profile figcaption {
    margin-top: 0.1875em;
    line-height: 1.5em;
    font-weight: bold; }
  /* line 84, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
  .profile img {
    margin: 0 auto;
    max-width: 12.5em; }

/*footer*/
/* line 90, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.citation {
  padding: 1.5em 0 4em 0;
  text-align: center;
  font-size: 0.8em; }
  /* line 95, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
  .citation p:first-of-type {
    padding-top: 0.8em; }

/*Vector Images*/
/* line 100, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.vectorImage {
  margin: 0.6em 0 -0.6em 0; }

/* line 103, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.windowIconFront {
  fill: white; }
  /* line 105, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
  .windowIconFront:hover {
    fill: MediumOrchid; }

/* line 108, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.windowIconRear {
  fill: white; }
  /* line 110, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
  .windowIconRear:hover {
    fill: SkyBlue; }

/* line 113, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.arrowIcon-1 {
  fill: white; }
  /* line 115, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
  .arrowIcon-1:hover {
    fill: MediumOrchid; }

/* line 118, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.arrowIcon-2 {
  fill: white; }
  /* line 120, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
  .arrowIcon-2:hover {
    fill: MediumSeaGreen; }

/* line 123, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.bellIconOutline {
  fill: MediumOrchid; }

/* line 126, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.bellIconFill {
  fill: LemonChiffon; }
  /* line 128, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
  .bellIconFill:hover {
    fill: SkyBlue; }

/*Images*/
/* line 134, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.profGreen {
  content: url('../img/professor_green_1x.jpg'); }

/* line 137, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.profDavis {
  content: url('../img/professor_davis_1x.jpg'); }

/* line 140, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.profSmith {
  content: url('../img/professor_smith_1x.jpg'); }

/* line 143, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.profKeller {
  content: url('../img/professor_keller_1x.jpg'); }

/* Color */
/* line 148, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.color1 {
  background-color: SkyBlue; }

/* line 151, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.color2 {
  background-color: LemonChiffon;
  color: gray; }

/* line 155, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.color3 {
  background-color: MediumSeaGreen; }

/* line 158, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.color4 {
  background-color: whitesmoke; }

/* line 161, /Users/appleadmin/Documents/Code Fellows/Sass-101/sass-101/Galen-Kate/css/module.sass */
.color5 {
  background-color: MediumOrchid; }

/*# sourceMappingURL=module.css.map */